
h1 {
	font-weight: bold;
	line-height: 3em;
	font-size: 3em;
	padding-left: 2em;
}

ul {
	list-style-type: none;
}

li {
	width: 20em;
	line-height: 2em;
	font-weight: 700;
	padding-left: 2em;
	margin-left: 2em;
}

.displayInstructions {
	line-height: 2em;
	font-size: 1.5em;
	font-weight: 700;
	margin-left: 2em;
	margin-bottom: 1em;
}

#displayWins {
	background-color: green;
}

#displayLoss {
	background-color: red;
}

#displayGuessCount {
	background-color: lightblue;
}

#displayGuess {
	background-color: yellow;
}